In [247]:
a=5
b=7
a+b

12

In [248]:
Name='Aliu Qudus'
Name

'Aliu Qudus'

In [249]:
Name.capitalize()

'Aliu qudus'

In [250]:
Name

'Aliu Qudus'

In [251]:
print(Name.isalnum())
print(Name.isalpha())
print(Name.istitle())
print(Name.isdecimal())
print(Name.isdigit())
print(Name.isupper())
print(Name.islower())
print(Name.isnumeric())
print(Name.endswith('d'))
print(Name.startswith('o'))

False
False
True
False
False
False
False
False
False
False

In [252]:
print("My Name is "  + Name +  " and I am a Male")

My Name is Aliu Qudus and I am a Male

In [253]:
a

5

# List

- Append
- Extend
- Pop
- Insert
- Copy

In [254]:
List= [1,2,3,'Aliu','Qudus',56]
List

[1, 2, 3, 'Aliu', 'Qudus', 56]

In [255]:
List.append('Banana')
List

[1, 2, 3, 'Aliu', 'Qudus', 56, 'Banana']

In [256]:
List.pop(1) # Pop the value of the index provided and delete it from the list

2

In [257]:
List

[1, 3, 'Aliu', 'Qudus', 56, 'Banana']

In [258]:
List1=List.copy()
# Append is used to insert just a single argument in a list
List1.append('Pineapple')
List1

[1, 3, 'Aliu', 'Qudus', 56, 'Banana', 'Pineapple']

In [259]:
# Extend is used to insert my argument in a lisy
List1.extend(['Apple','Rake',45])
List1

[1, 3, 'Aliu', 'Qudus', 56, 'Banana', 'Pineapple', 'Apple', 'Rake', 45]

In [260]:
len(List1)

10

In [261]:
List1[1]=30
List1

[1, 30, 'Aliu', 'Qudus', 56, 'Banana', 'Pineapple', 'Apple', 'Rake', 45]

In [262]:
List2=List1.copy()
List2

[1, 30, 'Aliu', 'Qudus', 56, 'Banana', 'Pineapple', 'Apple', 'Rake', 45]

In [263]:
List2.clear()

In [264]:
List2

[]

In [265]:
List2.reverse()

In [266]:
List2

[]

In [267]:
List2.insert(1,'Apple')
List2

['Apple']

In [268]:
List2.insert(0,'Orange')
List2

['Orange', 'Apple']

In [269]:
List2.insert(2,'Grape')
List2

['Orange', 'Apple', 'Grape']

In [270]:
# count returns the number of time an element occur in a list.
List2.count('Apple')

1

In [271]:
List2.count('Grape')

1

In [272]:
# It returns the index of the given parameter in a list and mostly returns the first index value.
List2.index('Apple',0,5)

1

In [273]:
# While the 1,5 is used to specify the range where the index should start and end.
List2.index('Orange',1,5)

<class 'ValueError'>: 'Orange' is not in list

In [274]:
max(List2)

'Orange'

In [275]:
min(List2)

'Apple'

In [276]:
len(List2)

3

In [277]:
# This will make the list double.
List2*2

['Orange', 'Apple', 'Grape', 'Orange', 'Apple', 'Grape']

# Sets, Dctionary, and Tuples

### Sets

In [278]:
set1={1,2,3,4,5}
set2={5,6,7,8,9}

In [279]:
set1

{1, 2, 3, 4, 5}

In [280]:
set2

{5, 6, 7, 8, 9}

In [281]:
set1.difference(set2)

{1, 2, 3, 4}

In [282]:
set1

{1, 2, 3, 4, 5}

In [283]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [284]:
set2.symmetric_difference(set1)

{1, 2, 3, 4, 6, 7, 8, 9}

In [285]:
set3=set2.copy()
set3

{5, 6, 7, 8, 9}

In [286]:
set3.clear()

In [287]:
set3

set()

In [288]:
set1.add(12)
set1

{1, 2, 3, 4, 5, 12}

In [289]:
set3={'Thor','Hulk','Iron Man','SuoerMan'}
set3

{'Hulk', 'Iron Man', 'SuoerMan', 'Thor'}

In [290]:
'set1'and'set2'

'set2'

In [291]:
'set1'or'set2'

'set1'

In [292]:
set1

{1, 2, 3, 4, 5, 12}

In [293]:
set2

{5, 6, 7, 8, 9}

In [294]:
set1.intersection(set2)

{5}

### Tuples

In [295]:
t1=(1,2,3,4,5,5,4,4,5,2)
t2=(6,7,8,9,10)

t2

(6, 7, 8, 9, 10)

In [296]:
t1[2]

3

In [297]:
type(t1)

tuple

In [298]:
t1.count(5)

3

In [299]:
t1.index(5)

4

In [300]:
t2.index(9)

3

### Dictionary

In [301]:
dict1={'car':"Benz",'Phone':'Samsung & Iphone','Club':'Manchester United','Country':'Nigeria','Religion':'Islam'}
dict1

{'car': 'Benz',
 'Phone': 'Samsung & Iphone',
 'Club': 'Manchester United',
 'Country': 'Nigeria',
 'Religion': 'Islam'}

In [302]:
dict1.keys()

dict_keys(['car', 'Phone', 'Club', 'Country', 'Religion'])

In [303]:
dict1.values()

dict_values(['Benz', 'Samsung & Iphone', 'Manchester United', 'Nigeria', 'Islam'])

In [304]:
dict1.items()

dict_items([('car', 'Benz'), ('Phone', 'Samsung & Iphone'), ('Club', 'Manchester United'), ('Country', 'Nigeria'), ('Religion', 'Islam')])

In [305]:
dict1.update({'Goal':'Jannah'})
dict1

{'car': 'Benz',
 'Phone': 'Samsung & Iphone',
 'Club': 'Manchester United',
 'Country': 'Nigeria',
 'Religion': 'Islam',
 'Goal': 'Jannah'}

In [306]:
for x in dict1:
    print(x)

car
Phone
Club
Country
Religion
Goal

In [307]:
for x in dict1.keys():
    print(x)

car
Phone
Club
Country
Religion
Goal

In [308]:
for x in dict1.values():
    print(x)

Benz
Samsung & Iphone
Manchester United
Nigeria
Islam
Jannah

In [309]:
for x in dict1.items():
    print(x)

('car', 'Benz')
('Phone', 'Samsung & Iphone')
('Club', 'Manchester United')
('Country', 'Nigeria')
('Religion', 'Islam')
('Goal', 'Jannah')

In [310]:
dict1['car']

'Benz'

In [311]:
# Adding a new value to the dictionary.
dict1['State']='Kwara State'

In [312]:
dict1

{'car': 'Benz',
 'Phone': 'Samsung & Iphone',
 'Club': 'Manchester United',
 'Country': 'Nigeria',
 'Religion': 'Islam',
 'Goal': 'Jannah',
 'State': 'Kwara State'}

In [313]:
# Replaced the value for car from Benz to Lamborghini.
dict1['car']='Lamborghini'

In [314]:
dict1

{'car': 'Lamborghini',
 'Phone': 'Samsung & Iphone',
 'Club': 'Manchester United',
 'Country': 'Nigeria',
 'Religion': 'Islam',
 'Goal': 'Jannah',
 'State': 'Kwara State'}

### Nested Dictionary

In [315]:
Religion1={'Islam':'Quran'}
Religion2={'Jew':'Torah'}
Religion3={'Christain':'Bible'}

Categories= {'Tawheed':Religion1, 'Shirk1':Religion2,'Shirk2':Religion3}

In [316]:
Categories

{'Tawheed': {'Islam': 'Quran'},
 'Shirk1': {'Jew': 'Torah'},
 'Shirk2': {'Christain': 'Bible'}}

In [317]:
Categories.keys()

dict_keys(['Tawheed', 'Shirk1', 'Shirk2'])

In [318]:
Categories.values()

dict_values([{'Islam': 'Quran'}, {'Jew': 'Torah'}, {'Christain': 'Bible'}])

In [319]:
Categories.items()

dict_items([('Tawheed', {'Islam': 'Quran'}), ('Shirk1', {'Jew': 'Torah'}), ('Shirk2', {'Christain': 'Bible'})])

In [320]:
Categories['Tawheed']

{'Islam': 'Quran'}

In [321]:
Categories['Shirk1']['Jew']

'Torah'